root = true

[*.{adoc, bat, groovy, html, java, scala, js, jsp, kt, kts, md, properties, py, rb, sh, sql, svg, txt, xml, xsd}]
charset = utf-8

[*.{groovy, java, scala, kt, kts, xml, xsd}]
indent_style = space
indent_size = 4
end_of_line = lf