<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH\:mm\:ss,SSS} %p - %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache.zookeeper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="com.xiaomi.passport" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="com.xiaomi.gconf_lib" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="stdout"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>