<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" monitorInterval="30">
    <appenders>
        <console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
    </appenders>

    <loggers>
        <logger name="org.zhenchao.theia" level="DEBUG"/>
        <root level="all">
            <appender-ref ref="stdout"/>
        </root>
    </loggers>
</configuration>